/QMU/2022.3/（用这个）仿真数据_新.xlsx
/QMU/2022.3/摩擦predict.xlsx
/QMU/2022.3/撞击predict.xlsx
/QMU/2022.4-机器学习小论文/收录证明
/QMU/2022.5/523流程图
/QMU/2022.5/529train/529-1图片-408组数据/训练集.xlsx
/QMU/2022.5/529train/529-1图片-408组数据/训练集-整理 - in.xlsx
/QMU/2022.5/529train/529-1图片-408组数据/训练集-整理 - out.xlsx
/QMU/2022.5/529train/529-1图片-408组数据/训练集-整理.xlsx
/QMU/2022.5/529train/融合预测-408/5.29融合预测记录.docx
/QMU/2022.5/529train/融合预测-408/真实试验测试集-摩擦.xlsx
/QMU/2022.5/529train/融合预测-408/真实试验测试集-撞击.xlsx
/QMU/2022.5/529train/融合预测-1544/真实试验测试集-摩擦.xlsx
/QMU/2022.5/529train/融合预测-1544/真实试验测试集-撞击in.xlsx
/QMU/2022.5/529train/融合预测-1544/真实试验测试集-撞击out.xlsx
/QMU/2022.5/529train/融合预测-1544/in.xlsx
/QMU/2022.5/529train/融合预测-1544/out.xlsx
/QMU/2022.5/529train/融合预测-1544/训练集-共1544.xlsx
/QMU/2022.5/529train/训练集-第二版.xlsx
/QMU/2022.7.7更新-最新版
/QMU/2022.5-项目验收-非最新版
/QMU/2022.7/627train/摩擦-训练集150组 in.xlsx
/QMU/2022.7/627train/摩擦-训练集150组 out.xlsx
/QMU/2022.7/627train/摩擦-训练集150组.xlsx
/QMU/2022.7/627train/训练数据.docx
/QMU/2022.7/627train/摩擦-测试集60组.xlsx
/QMU/2022.7/627train/摩擦-测试集60组in.xlsx
/QMU/2022.7/627train/摩擦-测试集60组out.xlsx
/QMU/2022.7/627train/摩擦-共计210组.xlsx
/QMU/2022.7/6.27.pptx
/QMU/2022.7/6.27-多元QMU .docx
/QMU/2022.7/多元QMU.png
/QMU/2022.7/软件使用说明-7月.docx
/QMU/2022.7/升降法摩擦3.2-数据未更新-非最新版.docx
/QMU/2022.7/总结报告 -无软件说明部分4.4.docx
/QMU/APP/dataset/moca-BP/摩擦-训练用（有限元+蒙特卡洛）in.xlsx
/QMU/APP/dataset/moca-BP/摩擦-训练用（有限元+蒙特卡洛）out.xlsx
/QMU/APP/dataset/moca-BP/摩擦-真实试验testin.xlsx
/QMU/APP/dataset/moca-BP/摩擦-真实试验testout.xlsx
/QMU/APP/dataset/moca-ML/摩擦-训练用（有限元+蒙特卡洛）.xlsx
/QMU/APP/dataset/moca-ML/摩擦-真实试验.xlsx
/QMU/APP/dataset/moca-ML/moca.xlsx
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/test.xls
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/train.xls
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/撞击-训练用（有限元+蒙特卡洛）-少量数据in.xlsx
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/撞击-训练用（有限元+蒙特卡洛）-少量数据out.xlsx
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/撞击-真实试验in.xlsx
/QMU/APP/dataset/zhuangji-BP-3.11少量数据/撞击-真实试验out.xlsx
/QMU/APP/dataset/zhuangji-BP
/QMU/APP/dataset/zhuangji-ML/撞击-有限元仿真.xlsx
/QMU/APP/dataset/zhuangji-ML/撞击-真实试验.xlsx
/QMU/APP/dataset/zhuangji-ML/测试集效果-真实试验.xlsx
/QMU/APP/dataset/zhuangji-ML/撞击-蒙特卡洛.xlsx
/QMU/APP/dataset/zhuangji-ML/撞击-训练用（有限元+蒙特卡洛）.xlsx
/QMU/APP/dataset/zhuangji-ML-3.11少量数据
/QMU/APP/dataset/训练集.xlsx
/QMU/APP/MC3.0/moca_QMU/mc_example.xlsx
/QMU/报告图片/摩擦.png
/QMU/报告图片/摩擦QMU.png
/QMU/报告图片/摩擦QMU新.png
/QMU/报告图片/摩擦装置.png
/QMU/报告图片/微信图片_20220624193218.jpg
/QMU/报告图片/有限元仿真图.png
/QMU/报告图片/装置图.png
/QMU/报告图片/撞击.png
/QMU/报告图片/撞击装置.png
/QMU/报告图片/BP神经网络.png
/QMU/报告图片/ppt绘图-全部.pptx
/QMU/报告图片/QMU评估-英文图-自己画.png
/QMU/报告图片/多元QMU示意图.png
/QMU/报告图片/多元QMU示意图-英文.png
/QMU/报告图片/流程图.png
/QMU/报告图片/蒙特卡洛.iodraw
/QMU/报告图片/蒙特卡洛.png
/QMU/报告图片/蒙特卡洛撞击50次.png
/图像匹配
